body {
  font-family: Roboto;
}

.grey {
  color: #757575;
}
.white {
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #212121;
}
.commanditem img {
  width: 100%;
}
.blue {
  color: #2196f3;
}
.black {
  color: #000000;
}
.order {
  background-color: #2196f3;
}
.font26 {
  font-size: 26px;
}
.font44 {
  font-size: 44px;
}
.font14 {
  font-size: 14px;
}
.font36 {
  font-size: 36px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.link:hover {
  color: #2196f3;
}
.item {
  width: 370px;
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}
footer {
  background-color: #2f303a;
}
.normal {
  font-style: normal;
}
.white06 {
  color: rgba(255, 255, 255, 0.6);
}
.darkgrey {
  color: #757575;
}
.activecolore {
  color: #2196f3;
}
.bold {
  font-weight: 500;
}
.dark {
  color: #212121;
}
.logo {
  font-family: Raleway;
  margin: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerleft,
.headerright,
header ul {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
}
.headerleft ul li {
  margin-right: 50px;
}
.headerright ul li:not(:last-child) {
  margin-right: 30px;
}
.headerright ul li img {
  margin-right: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.cards li {
  width: 23%;
}
.cards ul,
.cards2 ul {
  justify-content: space-between;
}
.cards2 li {
  width: 31%;
}
.cards2 li img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
.headerleft a {
  margin-right: 85px;
}
.commanditem {
  width: 23%;
}
.clientsitem {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 70.42px;
}
.centr {
  text-align: center;
}
.buttons-bar {
  display: flex;
  justify-content: space-between;
  width: 611px;
  margin: 0 auto 30px;
  padding-top: 93px;
}
.filter {
  padding: 5px 20px;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 94px;
}
.dashboard li {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.leftpart {
  width: 231px;
  margin-right: 69px;
}
.footercontent {
  display: flex;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients {
  padding-bottom: 133px;
  padding-top: 94px;
}
.subscribe p {
  margin: 0;
}
.subscribe {
  margin-left: 94px;
}
.subscribe input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  background-color: transparent;
}
.subscribe button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
